{% extends 'base.html' %} 

{% block content %}
{% load static %}
<div class="container" id="home">
    <h1>{{ mensaje }}</h1>
    <hr>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">

          {% for p in productos %}
          <!-- <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{% static p %}"/>
          </div> -->

          <!-- <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{u}}" alt="imgs"/>
          </div> -->

            <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <h2>{{p.name}}</h2>
            <p>{{p.url}}</p>
          </div> 
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
