{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container" id="home">
  <h1>{{ mensaje }}</h1>
  <hr />
  <div id="carouselExample" class="carousel slide">
    {% for p in productos %}
    <div class="card" style="width: 18rem" id="mycard">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{p.name}}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">{{p.url}}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
