{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container" id="home">
  <h1>{{ mensaje }}</h1>
  <hr />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for p in productos %}
    <div class="col">
      <div class="card">
        <img
          src="https://www.recetasnestle.com.ar/sites/default/files/styles/recipe_detail_desktop/public/srh_recipes/919838d8da6d04b4cfaa1b121eeddce2.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.url}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
